<div class="container">
  <h1>QR code image scanner</h1>
  <div class="input-group mb-3">
    <div class="custom-file">
      <input
        #file
        type="file"
        (change)="onSelects(file.files)"
        [multiple]="'multiple'"
        [accept]="'.jpg, .png, .gif, .jpeg'"
        class="custom-file-input"
        id="inputGroupFile01"
      />
      <label class="custom-file-label" for="inputGroupFile01"
        >{{filesQtyString}}</label
      >
    </div>
  </div>
<br>
  <li *ngFor="let row of selectedFiles">
    <div class="position-relative" style="display: inline-block">
      <img
        class="img-thumbnail h-50 w-auto p-5"
        [src]="row.urlQR | safe : 'url'"
        [alt]="row.name"
      />
      <div class="card-body">
        <h5 class="card-title">{{ row.name }}</h5>
        <p class="data">{{ row.data }}</p>
      </div>
    </div>
  </li>
</div>
